:root { 
--gray_600:#808080; 
--gray_400:#c4c4c4; 
--blue_gray_100:#d9d9d9; 
--gray_500:#9e9e9e; 
--gray_600_01:#6f6e6e; 
--black_900:#000000; 
--gray_500_01:#949090; 
--pink_900:#9d0333; 
--purple_900:#57068c; 
--light_blue_A700:#0093ff; 
--white_A700:#ffffff; 
--red_A700:#ff0000; 
}